.color-primary-0 {
    color: #2E4570
}


/* Main Primary color */

.color-primary-1 {
    color: #7587A7
}

.color-primary-2 {
    color: #4C628A
}

.color-primary-3 {
    color: #172D55
}

.color-primary-4 {
    color: #061839
}

.color-complement-0 {
    color: #A8813A
}


/* Main Complement color */

.color-complement-1 {
    color: #FBDEA8
}

.color-complement-2 {
    color: #D0AC68
}

.color-complement-3 {
    color: #805C18
}

.color-complement-4 {
    color: #553802
}